<%- include("../includes/header", {
    title: chat.name + " | Chat",
    styles: ["chat.css"]
}) %>

<aside class="chats">
  <ul>
    <% for (const chat of chats) { %>
        <li><a href="/chat/<%= chat.id %>"><%= chat.name %></a></li>
    <% } %>
  </ul>
</aside>

<div class="chat">
  <h1><%= chat.name %></h1>
  <ul id="messages">
    <% for (const message of chat.messages) { %>
        <%- include("message", { message, user }) %>
    <% } %>
  </ul>
  <div class="sender">
    <button onclick="document.getElementsByClassName('modal')[0].classList.toggle('open')">+</button>
    <input id="msg" type="text" placeholder="Message...">
    <button onclick="sendTextMessage()">Send</button>
  </div>
</div>

<div class="modal">
    <div>
        <h2>Media Options</h2>
        <h3>File Select</h3>
        <select id="files" onchange="sendFile(JSON.parse(this.value))">
            <option disabled selected>-</option>
        </select>
        <button onclick="document.getElementsByClassName('modal')[0].classList.toggle('open')">Close</button>
        <script>
            const filesEl = document.getElementById("files");
            fetch("/files/api/list").then(res => res.json()).then(files => {
                files.forEach(file => {
                    filesEl.innerHTML += `<option value='${JSON.stringify(file)}'>${file.name}</option>`;
                })
            });
        </script>

    </div>
</div>

<script>
  const messages = document.getElementById("messages");
  const msg = document.getElementById("msg");

  const ws = new WebSocket("ws://localhost:3000/");

  function sendTextMessage() {
    ws.send(JSON.stringify({
      event: "chat",
      data: {
        chat: "<%= chat.id %>",
        message: {
          type: "text",
          author: "<%= user %>",
          content: msg.value
        }
      }
    }))
    msg.value = "";
    msg.focus()
  }

        function sendFile(file) {
            ws.send(JSON.stringify({
                event: "chat",
                data: {
                    chat: "<%= chat.id %>",
                    message: {
                        type: "file",
                        author: "<%= user %>",
                        content: file
                    }
                }
            }))
        }

  ws.onmessage = function(event) {
    const data = JSON.parse(event.data);
    if (data.event !== "chat") {
      return;
    }

    const {
        chat
    } = data.data;

    if (chat !== "<%= chat.id %>") {
      return;
    }

      location.reload();
  }
</script>


<%- include("../includes/footer") %>
