<li class="<%= message.type %><% if (message.author === user) {%> me<% } %>">
    <% if (message.author !==user) { %>
        <small>
            <%= message.author %>
        </small>
        <% } %>
<% if (message.type==="text" ) { %>
    <p>
        <%= message.content %>
    </p>
    <% } else if (message.type==="file" ) { %>
        <p><a href="/files/download?file=<%= message.content.file %>">
                <%= message.content.name %>
            </a>
        </p>
<% } else { %>
<p>TODO unallowed type '<%= message.type %>'</p>
<% } %>
</li>
